@{
    ViewData["Title"] = "BuscadorRecetas";
}
<form method="post" action='@Url.Action("BuscadorRecetas","Home")'>
</form>
<div class="contenedor2-buscador">
<div>
<input type="search" id="busqueda" placeholder="Buscar..." name="busqueda">
</div>
</div>
<label class="form-label">Ingrese el nombre del ingrediente para 
    buscar una receta
<input type="text" id="busqueda" name="busqueda">
</label>


