@{
    ViewData["Title"] = "Categorías";
}
<div class="main"> 
    <h1 class="titulo">Categorías</h1>
    <div class="categorias">
        @foreach(Categoria categoria in ViewBag.ListaCategorias){
            <div class="contenedor-catego">
                <div>
                    <img src="@categoria.Foto" class="imagen-catego">
                    <div class="adentro-img-catego">
                        <div class="circulo-catego">
                            <h2>@categoria.NombreCategoria</h2>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>