@{
    ViewData["Title"] = "Categorías";
}

<h1 class="titulo">Categorías</h1>
<div class="categorias">
    <div class="contenedor-catego">
        <div>
            <img src="https://comedera.com/wp-content/uploads/sites/9/2022/12/Desayono-americano-shutterstock_2120331371.jpg" class="imagen-catego">
            <div class="adentro-img-catego">
                <div class="circulo-catego">
                    <h2>Desayuno</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor-catego">
        <div>
            <img src="https://comedera.com/wp-content/uploads/sites/9/2022/12/Desayono-americano-shutterstock_2120331371.jpg" class="imagen-catego">
            <div class="adentro-img-catego">
                <div class="circulo-catego">
                    <h2>Desayuno</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor-catego">
        <div>
            <img src="https://comedera.com/wp-content/uploads/sites/9/2022/12/Desayono-americano-shutterstock_2120331371.jpg" class="imagen-catego">
            <div class="adentro-img-catego">
                <div class="circulo-catego">
                    <h2>Desayuno</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor-catego">
        <div>
            <img src="https://comedera.com/wp-content/uploads/sites/9/2022/12/Desayono-americano-shutterstock_2120331371.jpg" class="imagen-catego">
            <div class="adentro-img-catego">
                <div class="circulo-catego">
                    <h2>Desayuno</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor-catego">
        <div>
            <img src="https://comedera.com/wp-content/uploads/sites/9/2022/12/Desayono-americano-shutterstock_2120331371.jpg" class="imagen-catego">
            <div class="adentro-img-catego">
                <div class="circulo-catego">
                    <h2>Desayuno</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor-catego">
        <div>
            <img src="https://comedera.com/wp-content/uploads/sites/9/2022/12/Desayono-americano-shutterstock_2120331371.jpg" class="imagen-catego">
            <div class="adentro-img-catego">
                <div class="circulo-catego">
                    <h2>Desayuno</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor-catego">
        <div>
            <img src="https://comedera.com/wp-content/uploads/sites/9/2022/12/Desayono-americano-shutterstock_2120331371.jpg" class="imagen-catego">
            <div class="adentro-img-catego">
                <div class="circulo-catego">
                    <h2>Desayuno</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor-catego">
        <div>
            <img src="https://comedera.com/wp-content/uploads/sites/9/2022/12/Desayono-americano-shutterstock_2120331371.jpg" class="imagen-catego">
            <div class="adentro-img-catego">
                <div class="circulo-catego">
                    <h2>Desayuno</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor-catego">
        <div>
            <img src="https://comedera.com/wp-content/uploads/sites/9/2022/12/Desayono-americano-shutterstock_2120331371.jpg" class="imagen-catego">
            <div class="adentro-img-catego">
                <div class="circulo-catego">
                    <h2>Desayuno</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor-catego">
        <div>
            <img src="https://comedera.com/wp-content/uploads/sites/9/2022/12/Desayono-americano-shutterstock_2120331371.jpg" class="imagen-catego">
            <div class="adentro-img-catego">
                <div class="circulo-catego">
                    <h2>Desayuno</h2>
                </div>
            </div>
        </div>
    </div>
    
</div>