@{
    ViewData["Title"] = "Home";
}

<div class="header">
    <h1>¿Qué vamos <br>a cocinar hoy?</h1>
    <svg class="double-wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#FDE2B3" fill-opacity="1" d="M0,160 C180,210 360,100 540,120 C720,140 900,200 1080,210 C1260,220 1440,130 1440,130 L1440,320 L0,320 Z" />
    </svg>
</div>

<div class="main">
    <div class="sector-home">
        <h2>Sugerencias para <span>VOS</span></h2>
        <div class="cards">
            <div class="card">
                <img src="https://thumbs.dreamstime.com/b/sin-foto-ni-icono-de-imagen-en-blanco-cargar-im%C3%A1genes-o-falta-marca-no-disponible-pr%C3%B3xima-se%C3%B1al-silueta-naturaleza-simple-marco-215973362.jpg" alt="">
                <div class="parte-abajo-card">
                    <div class="social-card">
                        <div class="estrellas">
                            <span class="material-symbols-outlined estrella">star</span>
                            <span class="material-symbols-outlined estrella">star</span>
                            <span class="material-symbols-outlined estrella">star</span>
                            <span class="material-symbols-outlined estrella">star</span>
                            <span class="material-symbols-outlined estrella">star</span>
                        </div>
                        <div class="der-social">
                            <span class="material-symbols-outlined compartir">share</span>
                            <span class="material-symbols-outlined like">favorite</span>
                        </div>
                    </div>
                    <h3>Empanada</h3>
                    <p>Una empanada es una masa rellena, generalmente de carne, queso o vegetales, que se cocina al horno o frita.</p>
                    <div class="caracteristicas-card">
                        <div>
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/1200px-Flag_of_Argentina.svg.png" alt="">
                            <h5>ARG</h5>
                        </div>
                        <div>
                            <span class="material-symbols-outlined tiempo">schedule</span>
                            <h5>45 Min</h5>
                        </div>
                        <div>
                            <span class="material-symbols-outlined dificultad">speed</span>
                            <h5>Fácil</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <h2>Tendencias</h2>
    <h2>Recomendados por tu almacén</h2>
</div>